@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
}
section{
    min-height: auto;
    width: 100%;
}








/* HEADER LOGO/BUTTON/Nav SETTINGS*/
.header {
    background: inherit;
    height: 100px;
    width: 100%;
    padding: 20px 70px;
    position: fixed;
    z-index: 999;
}
.header_overlay{
    z-index: 999;
    height: 100px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
    background: rgba(0, 0, 0, 0.034);
    backdrop-filter: blur(5px);
}

.header__logo{
    width: auto;
    height: 60px;
    float: left;
    z-index: 1;
}

/* MENU */
.menu {
    float: left;
    padding: 20px ;
    margin-left: 40px;
  }
  .menu a {
    margin: 0px 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
  }
  .link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: #00F5DC;
  }
.log_btn {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
  .log_btn {
     
      float: right;
      padding: 17px ;
      border: 1px solid #00F5DC;
      width: 300px;
      height: auto;
      background: #00F5DC;
      border-radius: 40px;
      transition: 0.3s;
  }
  .log_btn:hover{
    padding: 13px 17px ;
  }





  #menu,
  .sub-menu {
    display: none;
    list-style: none;
  }
  
  #mobile {
    display: none;
  }
  
  /* MOBILE desktop_menu */
  
  @media screen and (max-width: 640px) {
    .header {
      display: none;
    }
    .header_overlay {
      display: none;
    }
  
    #mobile {
      position: absolute;
      display: contents;
      background-color: rgba(0, 0, 255, 0.226);
      width: 100%;
      z-index: 999;
    }
    #mobile a,
    ul,
    li {
      text-decoration: none;
    }
    .logo img {
      position: absolute;
      z-index: 999;
      height: 30px;
      margin-top: 10px;
      padding: 0 0 0 20px;
    }
    /* menu button */
    .menuBtn {
      height: 30px;
      width: 30px;
      position: fixed;
      right: 20px;
      top: 10px;
      z-index: 101;
    }
    .menuBtn > span {
      background-color: black;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -1px 0 0 -15px;
      transition: height 100ms;
    }
    .menuBtn > span:after,
    .menuBtn > span:before {
      content: '';
      background-color: black;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      margin-left: -15px;
      transition: all 200ms;
    }
    .menuBtn > span:after {
      top: -7px;
    }
    .menuBtn > span:before {
      bottom: -7px;
    }
    .menuBtn.act > span {
      height: 0;
    }
    .menuBtn.act > span:after,
    .menuBtn.act > span:before {
      background-color: black;
      top: 1px;
    }
    .menuBtn.act > span:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .menuBtn.act > span:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    /* main menu block */
    .mainMenu {
      background-image: linear-gradient( #00f5dd63, #00f5dd63);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      height: 105%;
      width: 105%;
      display: table;
      text-align: center;
      opacity: 0;
      transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    .mainMenu.act {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .mainMenu.act ul li {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .mainMenu ul {
      display: table-cell;
      vertical-align: middle;
    }
    .mainMenu li {
      padding: 8px 0;
      transition: all 400ms 510ms;
      opacity: 0;
    }
    .mainMenu li:nth-child(odd) {
      -webkit-transform: translateX(30%);
      transform: translateX(30%);
    }
    .mainMenu li:nth-child(even) {
      -webkit-transform: translateX(-30%);
      transform: translateX(-30%);
    }
    .mainMenu li:last-child {
      -webkit-transform: none;
      transform: none;
    }
    .mainMenu a {
      color: black;
      font-weight: bold;
      display: inline-block;
      font-size: 18px;
    }
    .mainMenu a.suBtn {
      color: #fff;
    }
    /* sign up button */
    .suBtn {
      background-color: #05b3a1;
      border-radius: 5px;
      padding: 10px 20px;
    }
  }











/* ABOUT CONTAINER AND TEXT */

  #about{
      position: absolute;
      min-height: 100vh;
      width: 100%;
  }


  .about_container {
      width: 85%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      margin-top: 50px;
      word-spacing: 3px;
      line-height: 30px;
      padding: 5%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title-wrap {
    color: #00F5DC;
    font-size: 45px;
    line-height: 36px;
    display: flex;
    height: 34px;

  }
  
  .left-text {
    color: black;
  }
  
  .right-text {
    margin-left: 5px;
    overflow: hidden;
  }
  
  .flip-wrap {
    animation: flip 5s infinite;
    margin-top: -136px;
  }
  
  .flip {
    font-weight: bold;
  }
  
  @keyframes flip {
    from {
      margin-top: 0px;
    }
    35% {
      margin-top: 0px;
    }
    70% {
      margin-top: -36px;
    }
    70% {
        margin-top: -36px;
      }
      to{
        margin-top: -72px;
      }
}
.about_container p{
    text-align: center;
    font-size: 20px;
}
.about_container p span{
    font-size: 40px;
    color: rgb(5, 216, 195);
}


 /* MOBILE desktop_menu */
  
 @media only screen and (max-device-width: 520px){

  #about{
    position: absolute;
  }
  .about_container{
    top: 55%;
  }
  .title-wrap {
    font-size: 24px;
  }
  .about_container p{
    font-size: 13px;
}
.about_container p span{
  font-size: 30px;
}
 }
 @media only screen and (max-device-height: 640px){
  #about{
    position: absolute;
  }
  .about_container{
    top: 65%;
  }
  .title-wrap {
    font-size: 24px;
  }
  .about_container p{
    font-size: 13px;
}
.about_container p span{
  font-size: 30px;
}
 }
 



/* FOOTER */

#footer{
    position: absolute;
    top: 100vh;
    height: 35vh;
    padding: 0 100px;
  }
  .footer_container img{
    height: 60px;
    padding-top: 10px;
  }
  .footer_container p{
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.74);
  }
  
  .links{
    display: flex;
  }
  .left_side li{
    padding: 7px 0;
  }
  .right_side{
    float: right;
    margin-left: 120px;
  }
  .right_side li{
  padding: 15px 0;
  font-size: 13px;
  }
  .right_side h1{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
  }
  ul{
    list-style: none;
  }
  .right_side a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
  }
  .right_side i{
    color: #00F5DC;
  }
  /* MOBILE VIEW */

  @media only screen and (max-device-width: 520px){
  #footer{
    position: relative;
    top: 140vh;
    width: 100%;
    height: auto;
  }
  .left_side{
    display: none;
  }
  .links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  .links ul{
    padding: 0 20px;
  }
  .right_side{
   margin-left: 0px;
  }

  .right_side li{
    top: 10px;
  }

}
@media only screen and (max-device-height: 640px){
  #footer{
    position: relative;
    top: 170vh;
    width: 100%;
    height: auto;
  }
  .left_side{
    display: none;
  }
  .links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  .links ul{
    padding: 0 20px;
  }
  .right_side{
   margin-left: 0px;
  }

  .right_side li{
    top: 10px;
  }
}