@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
}
section{
    min-height: auto;
    width: 100%;
}








/* HEADER LOGO/BUTTON/Nav SETTINGS*/
.header {
    background: inherit;
    height: 100px;
    width: 100%;
    padding: 20px 70px;
    position: fixed;
    z-index: 999;
}
.header_overlay{
    z-index: 999;
    height: 100px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
    background: rgba(0, 0, 0, 0.034);
    backdrop-filter: blur(5px);
}

.header__logo{
    width: auto;
    height: 60px;
    float: left;
    z-index: 1;
}

/* MENU */
.menu {
    float: left;
    padding: 20px ;
    margin-left: 40px;
  }
  .menu a {
    margin: 0px 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
  }
  .link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: #00F5DC;
  }
.log_btn {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
  .log_btn {
     
      float: right;
      padding: 17px ;
      border: 1px solid #00F5DC;
      width: 300px;
      height: auto;
      background: #00F5DC;
      border-radius: 40px;
      transition: 0.3s;
  }
  .log_btn:hover{
    padding: 13px 17px ;
  }




  /* BACKGROUND IMAGE/TEXT/BUTTON SETTINGS */


#dashboard img{

    position: relative;
    float: right;
    width: 700px;
    height: 400px;
    top: 200px;
    margin-right: 70px;
}
.bg_text{
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 5%;
    font-weight: 0;
   font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.74);
    
}
.bg_text h1{
    font-size: 45px;
}
.bg_text h5{
    font-size: 20px;
    color:rgba(0, 0, 0, 0.74);
}



/* FOOTER */

#footer{
    position: absolute;
    top: 100vh;
    height: 35vh;
    padding: 0 100px;
  }
  .footer_container img{
    height: 60px;
    padding-top: 10px;
  }
  .footer_container p{
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.74);
  }
  
  .links{
    display: flex;
  }
  .left_side li{
    padding: 7px 0;
  }
  .right_side{
    float: right;
    margin-left: 120px;
  }
  .right_side li{
  padding: 15px 0;
  font-size: 13px;
  }
  .right_side h1{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
  }
  ul{
    list-style: none;
  }
  .right_side a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
  }
  .right_side i{
    color: #00F5DC;
  }