


/* FOOTER */

#footer{
    position: relative;
    top: 140vh;
    min-height: 35vh;
    padding: 0 100px;
  }
  .footer_container img{
    height: 60px;
    padding-top: 10px;
  }
  .footer_container p{
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.74);
  }
  
  .links{
    display: flex;
  }
  .left_side li{
    padding: 7px 0;
  }
  .right_side{
    float: right;
    margin-left: 120px;
  }
  .right_side li{
  padding: 15px 0;
  font-size: 13px;
  }
  .right_side h1{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.74);
  }
  ul{
    list-style: none;
  }
  .right_side a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
  }
  .right_side i{
    color: #00F5DC;
  }



   /* MOBILE VIEW */

   @media only screen and (max-device-width: 520px){
  #footer{
    position: relative;
    top: 5vh;
    width: 100%;
    height: auto;
  }
  .left_side{
    display: none;
  }
  .links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  .links ul{
    padding: 0 20px;
  }
  .right_side{
   margin-left: 0px;
  }

  .right_side li{
    top: 10px;
  }

}
@media only screen and (max-device-height: 667px){
  #footer{
    position: relative;
    top: 45vh;
    width: 100%;
    height: auto;
  }
  .left_side{
    display: none;
  }
  .links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  .links ul{
    padding: 0 20px;
  }
  .right_side{
   margin-left: 0px;
  }

  .right_side li{
    top: 10px;
  }

}
@media only screen and (max-device-height: 610px){
  #footer{
    position: relative;
    top: 80vh;
    width: 100%;
    height: auto;
  }
  .left_side{
    display: none;
  }
  .links{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
  .links ul{
    padding: 0 20px;
  }
  .right_side{
   margin-left: 0px;
  }

  .right_side li{
    top: 10px;
  }

}



