@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
*{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%; 
}








/* HEADER LOGO/BUTTON/Nav SETTINGS*/
.header {
    background: inherit;
    height: 100px;
    width: 100%;
    padding: 20px 70px;
    position: fixed;
    z-index: 999;
}
.header_overlay{
    z-index: 999;
    height: 100px;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
    -moz-box-shadow:0 4px 2px -2px rgba(0,0,0,.1);
    background: rgba(0, 0, 0, 0.034);
    -moz-background: rgba(0, 0, 0, 0.034);
    backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}

.header__logo{
    width: auto;
    height: 60px;
    float: left;
    z-index: 1;
}

/* MENU */
.menu {
    float: left;
    padding: 20px ;
    margin-left: 40px;
  }
  .menu a {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
  }
  .menu a:hover {
    color: #c5cae9;
  }
.log_btn {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
  .log_btn {
     
      float: right;
      padding: 17px ;
      border: 1px solid #00F5DC;
      width: 300px;
      height: auto;
      background: #00F5DC;
      border-radius: 40px;
      transition: 0.3s;
  }
  .log_btn:hover{
    padding: 13px 17px ;
  }




  /* BACKGROUND IMAGE/TEXT/BUTTON SETTINGS */

.bg_image{
    position: absolute;
    width: 100%;
    min-height: auto;
    display: inline-block;
}
.bg_img{
    height: 100vh;
    width: 750px;
}
.bg_img2{
    position: absolute;
    height: 230px;
    width: 400px;
    top: 300px;
}
.bg_text{
    position: absolute;
    display: inline-block;
    top: 43%;
    left: 4.5%;
    font-weight: 0;
   font-family: 'Raleway', sans-serif;
    color: white;
    
}
.bg_text h1{
    font-size: 40px;
}
.bg_text h5{
    font-size: 15px;
    color: rgb(235, 230, 230);
}


.reg_btn{
    position: absolute;
    display: inline-block;
    top: 83%;
    left: 4.5%;
}
.reg_btn {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    text-align: center;
}
  .reg_btn {
     
      float: right;
      padding: 15px;
      width: 150px;
      height: auto;
      background: #00F5DC;
      border-radius: 40px;
      transition: 0.2s;
  }
  .reg_btn:hover{
    padding: 10px 15px ;
  }

  .bg_text_last{

    position: absolute;
    display: inline-block;
    top: 93%;
    left: 4.5%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.74);

  }



/* SLIDER */


#slider{
    position: relative;
    top: 110vh;
    min-height: 90vh;
    text-align: center;
}
.text_h1{
    text-align: left;
    margin-left: 100px;
    font-size: 45px;
}
.text_p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.74);
}

.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 150px;
  }
  .slider-wrapper input {
    position: relative;
    left: -9999px;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow {
    position: absolute;
    top: 30%;
    width: 3rem;
    height: 3rem;
    border: 5px solid rgb(102, 101, 101);
    z-index: 2;
    transform: translateY(-50%) rotate(45deg);
    cursor: pointer;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow.next {
    border-left: none;
    right: 1rem;
    border-bottom: none;
    margin-right: 100px;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow.prev {
    border-top: none;
    left: 1rem;
    border-right: none;
    z-index: 3;
    margin-left: 100px;
  }
  .slider-wrapper .slider-arrow-nav .nav-arrow.next:first-of-type {
    z-index: 3;
  }
  .slider-wrapper .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 1000ms cubic-bezier(0.68, -0.57, 0.33, 1.67) opacity;
  }
  .slider-wrapper .slide img {
    width: 40%;
    height: 60%;
  }
  .slide3{
      height: 65%;
  }
  .slider-wrapper .slider-nav {
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
  }
  .slider-wrapper .slider-nav .nav-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border: 2px solid #036181;
    background: white;
    border-radius: 50%;
  }
  .slider-wrapper .slider-nav .nav-button:hover {
    background: rgb(102, 101, 101);
  }
  .slider-wrapper #slide1:checked ~ .slider-content .slide1 {
    opacity: 1;
  }
  .slider-wrapper #slide1:checked ~ .slider-nav .nav-button[for="slide1"] {
    background: #00F5DC;
  }
  .slider-wrapper #slide1:checked ~ .slider-arrow-nav .nav-arrow.next[for="slide1"] + .nav-arrow {
    z-index: 4;
  }
  .slider-wrapper #slide1:checked ~ .slider-arrow-nav .nav-arrow.next[for="slide1"]:last-of-type {
    z-index: 2;
  }
  .slider-wrapper #slide1:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide1"],
  .slider-wrapper #slide1:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide1"] ~ .nav-arrow.prev {
    z-index: 2;
  }
  .slider-wrapper #slide2:checked ~ .slider-content .slide2 {
    opacity: 1;
  }
  .slider-wrapper #slide2:checked ~ .slider-nav .nav-button[for="slide2"] {
    background: #00F5DC;
  }
  .slider-wrapper #slide2:checked ~ .slider-arrow-nav .nav-arrow.next[for="slide2"] + .nav-arrow {
    z-index: 4;
  }
  .slider-wrapper #slide2:checked ~ .slider-arrow-nav .nav-arrow.next[for="slide2"]:last-of-type {
    z-index: 2;
  }
  .slider-wrapper #slide2:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide2"],
  .slider-wrapper #slide2:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide2"] ~ .nav-arrow.prev {
    z-index: 2;
  }
  .slider-wrapper #slide3:checked ~ .slider-content .slide3 {
    opacity: 1;
  }
  .slider-wrapper #slide3:checked ~ .slider-nav .nav-button[for="slide3"] {
    background: #00F5DC;
  }
  .slider-wrapper #slide3:checked ~ .slider-arrow-nav .nav-arrow.next[for="slide3"] + .nav-arrow {
    z-index: 4;
  }
  .slider-wrapper #slide3:checked ~ .slider-arrow-nav .nav-arrow.next[for="slide3"]:last-of-type {
    z-index: 2;
  }
  .slider-wrapper #slide3:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide3"],
  .slider-wrapper #slide3:checked ~ .slider-arrow-nav .nav-arrow.prev[for="slide3"] ~ .nav-arrow.prev {
    z-index: 2;
  }
  



/* SETUP */


  #setup{
    position: relative;
    top: 135vh;
    min-height: 145vh;
    width: 100%;
    text-align: center;
  }
.setup_text{
    margin-top: 210px;
    position: absolute;
}

  .setup_container img{
      position: absolute;
      float: right;
      width: 630px;
      height: 900px;
  }

  .setup_h1{
    text-align: left;
    margin-left: 100px;
    font-size: 45px;
  }
  .setup_p{
    text-align: left;
    margin-left: 100px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.74);
  }
  .setup_container a{
      text-align: left;
      text-decoration: none;
      color: #036181;
  }




/* PRESENCE */




  #presence{
    position: relative;
    top: 135vh;
    min-height: 100vh;
    text-align: center;
}

.presence_container img{
width: 100%;
height: 400px;
margin-top: 100px;
}

.presence_text1{
  position: absolute;
  float: left;
  text-align: left;
  margin-left: 100px;
  font-size: 45px;
}

.presence_text2{
  position: absolute;
margin-left: 960px;
font-size: 100px;
letter-spacing: 10px;
font-size: 45px;
margin-top: 170px;
}

.presence_box{
  margin-top: 70px;
margin-left: 300px;
margin-right: 300px;
height: 140px;
border-radius: 30px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0px 5px 7px #888;
}

.presence_text3{
  font-size: 40px;
  padding-top: 30px;
  font-weight: 0;
}
.presence_box .reg_btn2{
  padding: 12px 15px;
  width: 160px;
  background: #00F5DC;
  border-radius: 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.74);
  text-align: center;
  transition: 0.3s;

}
.reg_btn2:hover{
  padding: 8px 15px ;
}




