<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="shortcut icon" type="image/png" href="images/favicon.png">

	<link rel="stylesheet" type="text/css" href="css/fontawesome.css">
	<!--   Calling fontawesome from local file   -->

	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<!--   Calling Bulma from local file   -->

	<script type="text/javascript" src="js/vue.js"></script>
	<!--   Calling Vue from local file   -->
	<script type="text/javascript" src="js/axios.min.js"></script>
	<!--   Calling Axios from local file   -->


	<link rel="stylesheet" href="css/gateway-demo.css">
	<!--  Adding custom CSS file for all tags in this file  -->

	<title>TMoS | Delivery Gateway Demo</title>
</head>

<body>

	<div class="full-page-container" id="main-page-container-id">

		<div class="column-container document-container">
			<p>Documentation</p>
		</div>

		<div class="column-container application-container">

			<div class="ecommerce-container box" v-if="pageStatus=='cart'">
				<p>CART</p>
				<br>
				<div class="columns is-multiline">

					<div class="column is-full cart-item-container box">
						<div class="image is-64x64">
							<img src="images/Floor.png">
						</div>
						<div class="cart-detail-container">
							<p class="cart-title">
								Banana
							</p>
							<p class="cart-subtitle">
								Yellow fresh bananas
							</p>
						</div>
					</div>
					<div class="column is-full cart-item-container box">
						<div class="image is-64x64">
							<img src="images/Floor.png">
						</div>
						<div class="cart-detail-container">
							<p class="cart-title">
								Banana
							</p>
							<p class="cart-subtitle">
								Yellow fresh bananas
							</p>
						</div>
					</div>

				</div>

				<div class="total-container">
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<span class="cart-title">Total</span>
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<span class="cart-title">₹ 250</span>
							</div>
						</div>
					</div>
				</div>

				<div class="chekout-button-container">
					<button class="button" v-on:click="CheckoutButton">Checkout &#8594</button>
				</div>
			</div>

			<div class="gateway-container box" v-if="pageStatus=='gateway'">

				<div class="gateway-cross-container">
					<span class="icon">
						<i class="fa fa-times fa-3x" v-on:click="pageStatus='cart'"></i>
					</span>
				</div>

				<div class="vendor-list-container">
					<div class="vendor-container">

						<div class="radio-container">
							<label>
								<input type="radio" class="radio-button-default" name="vendorName">
								<span class="radio-button-custom"></span>
							</label>
						</div>

						<div class="vendor-details-container">
							<p class="vendor-title">Vega Delivery</p>
							<p class="vendor-eta">ETA: 6th October, 2021</p>
						</div>

						<div class="vendor-image-container">
							
						</div>

					</div>
				</div>

			</div>

		</div>

		<div class="column-container options-container">
			<p>Options</p>
		</div>

	</div>

	<script src="js/countryCode.js"></script>
	<script src="js/gateway-demo.js"></script>
</body>

</html>